.one_card{
    display: inline-block;
    background-color: #9eebcf;
    margin: 0.5rem;
    border-width: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
    text-align: center;
}